html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}

h1,h2,h3,
h4,h5,h6{
	margin: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  color: $gray;

	*::selection{
		background-color: $gray;
    color: $white;
	}
}

img {
	max-width: 100%;
	height: auto;
}

textarea {
	font-family: inherit;
	font-weight: inherit;
}
